@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
}

.button {
    font-family: "Google Sans Flex", sans-serif;
    width: 50px;
    height: 40px;
    color: #ffdbf4;
    font-size: 30px;
    background-color: #e6a3c9;
    margin: 5px;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow:
        0 8px 16px 0 rgba(0, 0, 0, 0.1),
        0 6px 10px 0 rgba(0, 0, 0, 0.1);

    &:hover {
        box-sizing: border-box;
        cursor: pointer;
        border-bottom: 2px solid #ffa7da;
        border-right: 2px solid #ffa7da;
    }
}

.buttonsContainer {
    width: 200px;
}

.buttonClean {
    width: 110px;
    box-sizing: border-box;
}

.buttonNumbers {
    width: 50px;
    box-sizing: border-box;
    margin: 5px;
}

.input {
    box-sizing: border-box;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 28px;
    text-align: left;
    padding: 12px;
    color: #8d7182;
    width: 167px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    box-shadow:
        0 8px 16px 0 rgba(0, 0, 0, 0.1),
        0 6px 10px 0 rgba(0, 0, 0, 0.1);
    &:active {
        outline: none;
        border: none;
    }
}

.colorResult {
    color: #ff84ca;
}
